<html>
    <head>
        <title>Karla's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Karla's Blog</a></h1>
        </div>

        <div>
            <p>published: 21.04.2020, 08:58</p>
            <h2><a href="">Mi primer post</a></h2>
            <p>
                Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis
                vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce
                dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
                fermentum massa justo sit amet risus.
            </p>
        </div>

        <div>
            <p>published: 21.05.2017, 08:59</p>
                <h2><a href="">Mi segundo post</a></h2>
            <p>
                Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis
                vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce
                dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.
            </p>
        </div>
    </body>
</html>